<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WebStoreConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <WebStoreConfiguration>
    <add key="ApplicationTitle" value="Configuration Sample (External Config File)" />
    <add key="ApplicationSubTitle" value="Making ASP.NET Easier to use" />
    <add key="ApplicationCookieName" value="_ApplicationId" />
    <add key="ConnectionString" value="4PL6gBdJW10=" />
    <add key="DebugMode" value="Default" />
    <add key="MaxPageItems" value="0" />
    <add key="SenderEmailAddress" value="" />
    <add key="SenderEmailName" value="" />
    <add key="MailCc" value="" />
    <add key="AdminEmailAddress" value="" />
    <add key="AdminEmailName" value="" />
    <add key="AdminSendEmails" value="False" />
    <add key="MailServer" value="" />
    <add key="MailServerUsername" value="" />
    <add key="MailServerPassword" value="4PL6gBdJW10=" />
  </WebStoreConfiguration>
</configuration>