<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfiguration" requirePermission="false"  
             type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="MyCustomConfiguration" requirePermission="false"
             type="Westwind.Utilities.Configuration.MyCustomConfigurationSection,Westwind.Utilities.Configuration.Tests"/>
  </configSections>
   <connectionStrings>
    <add name="LocalDatabaseConnection" connectionString="Data Source=Database.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <CustomConfiguration>
    <add key="ApplicationName" value="Configuration Tests" />
    <add key="DebugMode" value="Default" />
    <add key="MaxDisplayListItems" value="15" />
    <add key="SendAdminEmailConfirmations" value="False" />
    <add key="MailServer" value="3v7daoNQzllLoX0yJE2weBlljCp0MgyY8/DVkRijRTI=" />
    <add key="MailServerPassword" value="ud+2+RJyqPifhK4FXm3leg==" />
  </CustomConfiguration>
  <appSettings>
    
  </appSettings>
  
<MyCustomConfiguration 
        ApplicationName="Configuration Tests"  
        MaxDisplayItems="25"
        DebugMode ="ApplicationErrorMessage"         
        />
 
</configuration>